<table>
  <tr>
    <td>Clientes</td>
  </tr>
  <% @users.each do |customer|%>
    <tr>
      <td><%= link_to customer.username, user_path(customer) %></td> 
    </tr>
  <% end %>
</table>

<p><%= link_to "Início", root_path %></p>