<table>
  <tr>
    <td>Projetos</td>
    <td>Cliente</td>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project_path(project) %></td>
    <td><%= link_to project.user.username, user_path(project.user) %></td>
  </tr>
  <% end %>
</table>
